.navbar-container {
  background-color: #2d151a;
  height: 100px;
}
.navbar-container-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.navbar-wallet-btn {
  background-image: linear-gradient(to right, #ff7357, #ff2957) !important;
  height: 58px !important;
  border-radius: 100px !important;
  padding: 0px 20px !important;
}
.navbar-wallet-btn > p {
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 10px;
}
.navbar-link {
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin: 0px 15px;
  font-family: "Atkinson Hyperlegible";
}
.navbar-logo {
  width: 85px;
  height: 85px;
}
#navbar-container-inner {
  padding: 0px 20px;
}
.sider-content-wraper {
  width: 250px;
}
.drawer-header-main {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}
.side-menu-page {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  height: 50px !important;
}
.side-menu-page-title {
  color: #2d151a !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-decoration: none !important;
  text-transform: capitalize !important;
  margin-left: 10px !important;
}
@media only screen and (max-width: 1000px) {
  .navbar-logo {
    width: 75px;
    height: 75px;
  }
  .navbar-link {
    font-size: 16px;
  }
  .navbar-wallet-btn {
    height: 54px !important;
  }
  .navbar-wallet-btn > p {
    font-size: 18px;
  }

}
@media only screen and (max-width: 899px) {
  .navbar-container {
    height: 70px;
  }
  .navbar-container-inner {
    height: 70px;
  }
  .navbar-logo {
    width: 50px;
    height: 50px;
  }
}