* {
  padding: 0px;
  margin: 0px;
  font-family: "Atkinson Hyperlegible";
}
body {
  background-color: #121212;
}
input,
select {
  border: none;
  outline: none;
  background: none;
}
html {
  scroll-behavior: smooth;
}